.form-control.form-control-width {
	min-width: 150px;
}

.table-responsive.table-responsive-heightened {
	min-height: 400px;
}
.tabs-cont{
	padding-top: 15px;
}
.tooltip-inner {
	max-width: 300px;
}
.main-stat{
	font-size: 12px;
	table-layout:fixed;
	overflow-y: scroll;
	word-break: normal;
}
#table-cont{	
	overflow: auto;
}
.but-add-record{
	padding-top: 10em;
	text-align: right;
	vertical-align: text-bottom;

}

.view-route{
	padding-top: 50px;
}
.print-page{
	border: solid black 1px;
}
.login-cont{
	width: 300px;
	height: 200px;	
}
.span-alert{
	padding-left: 20px;
}
.pdf-view{
	border-radius: 10px;
	border: solid black 1px;
	height: 65em;
}
#preview{
	width: 100%;
}
.head-print {
	padding-top: 10px;
}
.head-print h4{
	text-align: center;
}
.main-print-cont{
	padding-left: none;
	padding-top: 25px;
}
.main-print-cont div{
	padding: none;
}
.hr-div{
	padding-top: 15px;
}
.hr-div hr{
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #aaa;
}
