.form-control.form-control-width {
	min-width: 150px;
}

.table-responsive.table-responsive-heightened {
	min-height: 400px;
}

.tooltip-inner {
	max-width: 300px;
}
.main-stat{
	font-size: 12px;
	table-layout:fixed;
	overflow-y: scroll;
	word-break: normal;

}

.but-add-record{
	padding-top: 1em;
	text-align: right;
	vertical-align: text-bottom;

}
.view-route{
	padding-top: 50px;
}

#table-div{
	height: 10em;
}

.pdf-view{
	border-radius: 10px;
	border: solid black 1px;
	height: 65em;
}
#preview{
	width: 100%;
	height: 65em;
}
.head-print {
	padding-top: 10px;
}
.head-print h4{
	text-align: center;
}