<div class="col-md-6 col-xs-10">
	<form  name="recordsCtrl.firstForm" novalidate>
		<div class="col-md-5 col-xs-6">
			<div class="form-group">
				<label>Ім'я</label>
				<input class="form-control" name="name" ng-model="recordsCtrl.newRecord.name" required>
				<span style="color:red" class="error-message" ng-show="recordsCtrl.firstForm.name.$dirty && recordsCtrl.firstForm.name.$invalid">Необхідно вкаати ім'я</span>
			</div>
			<div class="form-group">
				<label>Прізвище</label>
				<input class="form-control"  name="surname" ng-model="recordsCtrl.newRecord.surname" required>
				<span style="color:red" class="error-message" ng-show="recordsCtrl.firstForm.surname.$dirty && recordsCtrl.firstForm.surname.$invalid">Необхідно вкаати прізвище</span>
			</div>
			<div class="form-group">
				<label>По батькові</label>
				<input class="form-control"  name="middlename" ng-model="recordsCtrl.newRecord.middlename" required>
				<span style="color:red" class="error-message" ng-show="recordsCtrl.firstForm.middlename.$dirty && recordsCtrl.firstForm.middlename.$invalid">Необхідно вкаати по батькові</span>
			</div>

			<div class="form-group">
				<label for="date-birth" class="control-label">Дата народження</label>
				<div class="control">
					<input class="form-control"  name="birth" type="number"  min="1910" max="2015" ng-model="recordsCtrl.newRecord.birth" required>
				</div>
				<span style="color:red" class="error-message" ng-show="recordsCtrl.firstForm.birth.$dirty && recordsCtrl.firstForm.birth.$invalid">The birth is invalid</span>
			</div>
			<div class="form-group">
				<label>Відділення</label>
				<select ng-model="recordsCtrl.newRecord.department" name="department" ng-options="dep for dep in recordsCtrl.departments" class="form-control" required>	
				</select>
				<span style="color:red" class="error-message" ng-show="recordsCtrl.firstForm.department.$invalid">Необхідно вкаати відділення</span>
			</div>

		<!-- </div>
		<div class="col-md-6 col-xs-6">
		-->
		<div class="form-group">
			<label for="date-birth"  class="control-label">Дата та час</label>
			<div>
				<pre>Обрана дата та  час: <em>{{recordsCtrl.newRecord.date | date:'dd/MM/yyyy HH:mm' }}</em></pre>
			</div>
		</div>


		
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="recordsCtrl.newRecord.type" btn-radio="'первинний'" uncheckable>Первинний</label>
			<label class="btn btn-primary" ng-model="recordsCtrl.newRecord.type" btn-radio="'вторинний'" uncheckable>Вторинний</label>			
		</div>
		<div class="but-add-record">
			<button type="submit"  ng-click="recordsCtrl.add(); recordsCtrl.firstForm.$setUntouched()" class="btn btn-success btn-default"  ng-disabled="!recordsCtrl.submit()">Submit Form</button>
			<button type="submit"  ng-click="recordsCtrl.generateForm()" class="btn btn-success btn-default">Generate Form</button>
		</div>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<label for="exampleInputFile">Лікар</label>
			<select ng-model="recordsCtrl.newRecord.doctor" name="doctor" ng-options="doctor for doctor in recordsCtrl.doctors" class="form-control" required>	
			</select>
			<span style="color:red" class="error-message" ng-show="recordsCtrl.firstForm.doctor.$dirty && recordsCtrl.firstForm.doctor.$invalid">Необхідно вказати лікаря</span>
		</div>

		<div class="form-group">
			<label for="exampleInputFile">Огляд</label>
			<select ng-model="recordsCtrl.inspectSelected" name="inspect" ng-options="inspect for inspect in recordsCtrl.inspect" class="form-control" required>	
			</select>

		</div>
		<div ng-if="recordsCtrl.inspectSelected=='шлунок'" id="myId">
			<div class="checkbox">
				<label>
					<input ng-model="recordsCtrl.abdominal.kidneys.bool" type="checkbox" ng-disabled="recordsCtrl.abdominal.stomach.bool">
					нирки 
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input ng-model="recordsCtrl.abdominal.bladder.bool" type="checkbox" ng-disabled="recordsCtrl.abdominal.stomach.bool" >
					сечевий міхур
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input ng-model="recordsCtrl.abdominal.gynecology.bool" type="checkbox" ng-disabled="recordsCtrl.abdominal.stomach.bool">
					гінекологія 
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input ng-model="recordsCtrl.abdominal.stomach.bool" type="checkbox">
					ОЧВ
				</label>
			</div>
		</div>
	</div>
<button class="btn btn-succes" ng-click="recordsCtrl.generatePdf()">Generate</button>
</form>


</div>
<div class="col-md-5" >
	<iframe id="preview" src="views/print.html" name="preview"></iframe>

</div>
