
<table class="table table-hovered table-bordered main-stat">
	<thead>
		<tr>
			<th>ФІО</th>
			<th>Дата народження</th>
			<th>Відділення</th>
			<th>Лікар</th>
			<th>Огляд</th>
			<th>Тип огляду</th>
			<th>Дата</th>
			<th>Дія</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>
			
			</td>
			<td>
				<select class="form-control">
					<option>Всі відділення</option>
					<option ng-repeat="dep in recordsCtrl.departments">{{dep}}</option>
				</select>
			</td>
			<td>
				<select class="form-control">
					<option>Всі лікарі</option>
					<option ng-repeat="doctor in recordsCtrl.doctors">{{doctor}}</option>
				</select>
			</td>
			<td>
				<select class="form-control">
					<option>Усі огляди</option>				
				</select>
			</td>
			<td>
				<select class="form-control">
					<option>всі огляди</option>
					<option>первинний</option>				
					<option>вторинний</option>				
				</select>
			</td>
			<td>
				<input type="date" class="form-control" name="input" ng-model="example.value"
       placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />

			</td>
			<td>
				<select class="form-control">

				</select>
			</td>

		</tr>
		<tr ng-repeat="record in recordsCtrl.records">
			<td ng-bind="record.name +' '+record.surname+' '+record.middlename"></td>
			<td ng-bind="record.birth | date:'yyyy' "></td>
			<td ng-bind="record.department"></td>
			<td ng-bind="record.doctor"></td>
			<td ng-bind="record.inspections"></td>
			<td ng-bind="record.type"></td>
			<td ng-bind="record.date | date:'dd/MM/yyyy HH:mm'"></td>
			<td><button class="btn btn-xs btn-danger" ng-click="recordsCtrl.delete(record)">Delete</button></td>
		</tr>
	</tbody>
</table>